
.page-home{
    height: 100%;
    overflow: hidden;
}

.logo{
    /* width: 120px; */
    height: 31px;
    /* background: rgba(255, 255, 255, 0.2); */
    margin: 16px 28px 16px 0;
    float: left;
    h4 {
        color: #ee6501 !important;
    }
}

.custom-btn-group .ant-btn{
    margin-right: 8px;
}