<html>
    <head>
        <link rel="stylesheet" href="/static/css/bulma.min.css">
        <style>
            body{
                height: 100%;
                color: white!important;
                overflow-y: auto;
            }
            .title{
                color:white!important;
            }
            .label{
                color: whitesmoke!important;
            }
            .bg{
                background-image: url("/static/images/bg.png") !important;
                background-repeat: repeat-x!important;
            }
            .table td, .table th{
                vertical-align: middle !important;
            }
        </style>
         <title>OpenAuth管理</title>
    </head>
    <body class="bg">
        <div class="columns">
            <div class="column"></div>
            <div class="column is-three-quarters">
                <h2 style="text-align: center;"  class="title is-2"> 当前用户:{{.Account}}</h2>
                <div class="buttons">
                    <a class="button is-warning" href="javascript:void(0)" onclick="logout()">注销</a>
                    <a class="button is-success" href="/user/password/{{.AdminID}}" >修改密码</a>
                    <a class="button is-info" href="/app/register" target="_blank">注册应用</a>
                    <a class="button is-success" href="/user/register" target="_blank">注册用户</a>
                </div>
               
                <hr>
                <h3 class="title is-3">第三方应用列表:</h3>
                <table class="table is-striped is-hoverable  is-fullwidth">
                    <thead>
                        <tr>
                            <th>所属</th>
                            <th>应用名称</th>
                            <th>ClientID</th>
                            <th>PrivateKey</th>
                            <th>回调地址</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{range .AppList}}
                            <tr>
                                <td>{{.User.Name}}</td>
                                <td>{{.Appliction.Name}}</td>
                                <td>{{.Appliction.ClientID}}</td>
                                <td>{{.Appliction.PrivateKey}}</td>
                                <td>{{.Appliction.Callback}}</td>
                                <td>
                                    <div class="buttons">
                                        <button class="button is-small" onclick="deleteApp({{.Appliction.ID}}, {{.Appliction.Name}})">删除</button>
                                        <a class="button is-small" href="/app/{{.Appliction.ID}}">编辑</a>
                                        <a class="button is-small" href="/app/{{.Appliction.ID}}/user_manager">用户管理</a>
                                    </div>
                                </td>
                            </tr>
                        {{end}}
                    </tbody>
                </table>
                <hr>
                <h3 class="title is-3">用户列表:</h3>
                <table class="table is-striped is-hoverable  is-fullwidth">
                    <thead>
                        <tr>
                            <th>用户名</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{range .UserList}}
                        <tr>
                            <td>{{.Name}}</td>
                            <td>
                                <div class="buttons">
                                    <button class="button is-small" onclick="deleteUser({{.ID}}, {{.Name}})">删除</button>
                                    <a class="button is-small" href="/user/password/{{.ID}}">修改密码</a>
                                </div>
                            </td>
                        </tr>
                        {{end}}
                    </tbody>
                </table>
            </div>
            <div class="column"></div>
        </div>
    </body>
    <script>
        function logout(){
            fetch("/user/logout",{
                method: "DELETE"
            }).then((resp)=>{
                location.reload()
            })
        }

        function deleteApp(id, name){
            if(!confirm("是否删除应用:"+name)){
                return
            }
            fetch("/api/app/"+id,{
                method: "DELETE"
            }).then((resp)=>{
                location.reload()
            })
        }

        function deleteUser(id, name){
            if(!confirm("是否删除用户:"+name)){
                return
            }
            fetch("/api/user/"+id, {
                method:"DELETE"
            }).then((resp)=>{
                if(resp.status ==200){
                    location.reload()
                    return
                }
                resp.text().then((t)=>{
                    confirm(resp.status + ":"+t)
                })
                
            })
        }
    </script>
</html>