<html>
    <header></header>
    <body>
        <h2 style="text-align: center;"> 当前用户:<span>{{.Account}}</span></h2>
        <div style="width: 1000px;height:auto; background-color: antiquewhite; margin: 20px auto;">
            <ul>
                <li><a href="javascript:void(0)" onclick="logout()">注销</a></li>
            </ul>
            <hr>
            <h3>第三方应用列表:</h3>
            <table>
                <thead>
                    <tr>
                        <th>应用名称</th>
                        <th>ClientID</th>
                        <th>PrivateKey</th>
                        <th>回调地址</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    {{range .AppList}}
                        <tr>
                            <td>{{.Name}}</td>
                            <td>{{.ClientID}}</td>
                            <td>{{.PrivateKey}}</td>
                            <td>{{.Callback}}</td>
                            <td><button onclick="deleteApp({{.ID}})">删除</button></td>
                        </tr>
                    {{end}}
                </tbody>
            </table>
            <h3>用户列表:</h3>
            <ul>
                {{range .UserList}}
                    <li>{{.Name}}</li>
                {{end}}
            </ul>
        </div>
    </body>
    <script>


        function logout(){
            fetch("/user/logout",{
                method: "DELETE"
            }).then((resp)=>{
                location.reload()
            })
        }

        function deleteApp(id){
            fetch("/api/app/"+id,{
                method: "DELETE"
            }).then((resp)=>{
                location.reload()
            })
        }
    </script>
</html>