<html>
    <head>
            <title>OpenAuth 应用修改</title>
            <link rel="stylesheet" href="/static/css/bulma.min.css">
            <style>
                body{
                    padding-top: 15%;
                    height: 100%;
                    color: whitesmoke;
                    background-image: url("/static/images/bg.png") !important;
                    background-repeat: repeat-x!important;
                }
                .label{
                    color: whitesmoke!important;
                }
            </style>
    </head>

    <body class="">
            <div class="columns">
                    <div class="column"></div>
                    <div class="column is-one-three">
                            <h2 style="text-align: center;"  class="title is-3">Open Auth Application</h2>
                            <input type="hidden"id="appID" value={{.App.ID}}>
                            <div class="field is-horizontal">
                                <div class="field-label is-normal">
                                    <label class="label">应用名称:</label>
                                </div>
                                <div class="field-body">
                                    <div class="field">
                                    <p class="control is-expanded">
                                        <input class="input" type="text" id="name" value="{{.App.Name}}">
                                    </p>
                                    </div>
                                </div>
                            </div>
                            <div class="field is-horizontal">
                                    <div class="field-label is-normal">
                                        <label class="label">回调地址:</label>
                                    </div>
                                    <div class="field-body">
                                        <div class="field">
                                        <p class="control is-expanded">
                                            <input class="input" type="text" id="callback" value="{{.App.Callback}}">
                                        </p>
                                        </div>
                                    </div>
                                </div>
                            <div class="field is-horizontal">
                                <div class="field-label">
                                </div>
                                <div class="field-body">
                                    <div class="field">
                                    <div class="control">
                                        <button class="button is-primary"  id="save"> 保存 </button>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <div class="column"></div>     

        <script>
            var saveBtn = document.querySelector("#save")
            var appIDInput = document.querySelector("#appID")
            var usernameInput = document.querySelector("#name")
            var callbackInput = document.querySelector("#callback")
            saveBtn.addEventListener("click", function(){
                let username = usernameInput.value
                let callback = callbackInput.value
                let appID = appIDInput.value
               fetch('/api/app/'+appID, {
                    method: 'PUT',
                    headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({name: username, callback: callback})
                }).then((resp)=>{
                    if(resp.status == 401){
                        window.location.href = "/"
                        return
                    }
                    if(resp.status == 200){
                        confirm("保存成功!")
                        window.location.href = "/"
                    }else{
                        confirm("应用名重复或不符合要求")
                    }
                });
            })
        </script>
    </body>
</html>