<html>  
    <head>
        <link rel="stylesheet" href="/static/css/bulma.min.css">
        <link rel="stylesheet" href="/static/css/alertify.min.css">
        <link rel="stylesheet" href="/static/css/default.min.css">
        <link rel="stylesheet" href="/static/css/custom.css">
        <script src="/static/js/lib/vue.js"></script>
        <script src="/static/js/lib/vue-router.js"></script>
        <script src="/static/js/lib/alertify.min.js"></script>
    </head>
    <body>
        <div id="app">
            <router-view>
                <h3 class="title is-3">页面加载中...</h3>
            </router-view>
        </div>
        <script src="/static/js/components/nav.js"></script>
        <script src="/static/js/components/app-list.js"></script>
        <script src="/static/js/components/user-list.js"></script>
        <script src="/static/js/components/go-back.js"></script>
        <script src="/static/js/login.js"></script>
        <script src="/static/js/register.js"></script>
        <script src="/static/js/app-register.js"></script>
        <script src="/static/js/app-edit.js"></script>
        <script src="/static/js/app-users.js"></script>
        <script src="/static/js/app-role.js"></script>
        <script src="/static/js/app-role-and-permission.js"></script>
        <script src="/static/js/password-reset.js"></script>
        <script src="/static/js/admin-reset-anyone-password.js"></script>
        <script src="/static/js/apps.js"></script>
        <script src="/static/js/users.js"></script>
        <script src="/static/js/home.js"></script>
        <script src="/static/js/index.js"></script>
    </body>
</html>