<html>
    <header>
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
        <link rel="stylesheet" href="/static/css/bulma.min.css">
        <style>
            body{
                padding-top: 15%;
                height: 100%;
                background-image: url("/static/images/bg.png") !important;
                background-repeat: repeat-x!important;
            }
        </style>
         <title>OpenAuth认证</title>
    </header>
    <body>
        <div class="modal is-active">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                <p class="modal-card-title">授权</p>
                <button class="delete" aria-label="close"></button>
                </header>
                <section class="modal-card-body">
                    你无法登陆 应用  <span class="tag is-info">{{.AppName}}</span> 如果有疑问，请联系该应用管理员。
                </section>
                <footer class="modal-card-foot">
                <button class="button is-success" onclick="disagree()">关闭</button>
                </footer>
            </div>
        </div>
    </body>
    <script>
        function disagree(){
            location.href ="/"
        }
    </script>
</html>