<html>
    <head>
        <title>OpenAuth密码修改</title>
        <link rel="stylesheet" href="/static/css/bulma.min.css">
        <style>
            body{
                padding-top: 15%;
                height: 100%;
                color: whitesmoke;
            }
            .label{
                color: whitesmoke!important;
            }
            .bg{
                background-image: url("/static/images/bg.png") !important;
                background-repeat: repeat-x!important;
            }
        </style>
    </head>

    <body class="bg">
        <div class="columns">
            <div class="column"></div>
            <div class="column is-one-four">
                    <h2 style="text-align: center;"  class="title is-3">Password Reset</h2>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">旧密码:</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                            <div class="control">
                                <input class="input" type="password" id="oldPassword">
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">新密码:</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                            <div class="control">
                                <input class="input" type="password" id="newPassword">
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">重复密码:</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                            <div class="control">
                                <input class="input" type="password" id="repeatPassword">
                            </div>
                            </div>
                        </div>
                    </div>

                    <div class="field is-horizontal">
                        <div class="field-label">
                            <!-- Left empty for spacing -->
                        </div>
                        <div class="field-body">
                            <div class="field">
                            <div class="control">
                                <button class="button is-primary"  id="update">更新</button>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="column"></div>     
        </div>
        <script>
           var updateBtn = document.querySelector("#update")
            var oldInput = document.querySelector("#oldPassword")
            var newInput = document.querySelector("#newPassword")
            var repeatInput = document.querySelector("#repeatPassword")
            updateBtn.addEventListener("click", function(){
                let oldPass = oldInput.value
                let newPass = newInput.value
                let repeatPass = repeatInput.value
                
                if(newPass != repeatPass){
                    return confirm("两次密码输入不一致")
                }

               fetch('/api/user/password', {
                    method: 'PUT',
                    headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({oldPassword: oldPass, newPassword: newPass})
                }).then((resp)=>{
                    if(resp.status == 200){
                        confirm("修改成功!")
                        window.location.href = "/"
                    }else{
                        confirm(resp.status+":"+resp.statusText)
                    }
                }).catch((e)=>{
                    console.log(e)
                });
            })
        </script>
        
    </body>
</html>